<div class="cashier-dashboard-area">
    <div class="cashier-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
        <div
            class="cashier-menu-wrapper bg-white border-r border-b border-solid border-grayBorder py-10 px-7 maxLg:px-5 maxLg:py-8">
            <app-menu></app-menu>
        </div>
        <div class="cashier-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="cashier-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
        <div class="cashier-header-area">
            <div
                class="cashier-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-grayBorder">
                <div class="grid grid-cols-12 items-center h-full">
                    <div class="col-span-12">
                        <!-- header area start here -->
                        <div class="cashier-header-content flex items-center justify-between custom-height-70">
                            <div class="cashier-header-breadcrumb">
                            <h5 class="text-[20px] text-heading font-bold mb-1 leading-none">Create Payment</h5>
                            <ul>
                                <li class="text-[14px] text-bodyText font-normal inline-block mr-2">Payment</li>
                                <li class="text-[12px] text-bodyText font-normal inline-block mr-2 translate-y-0"><i class="far fa-chevron-right"></i></li>
                                <li class="text-[14px] text-bodyText font-normal inline-block mr-2">Invoice</li>
                            </ul>
                            </div>
                            <div class="flex items-center maxXs:w-full">
                            <div class="cashier-header-shortmenu pr-5 maxSm:pr-4 items-center flex flex-col justify-center custom-height-70">
                                <a href="javascript:void(0)" (click)="shortmenu()" class="h-10 w-10 leading-[38px] border border-grayBorder border-solid text-center inline-block rounded-[3px] text-bodyText short">
                                <i class="fal fa-plus"></i>
                                </a>
                                <div class="cashier-quick-dropdown" [class.shortmenu-enable]="menuShortcutActive">
                                <app-quickdropdown></app-quickdropdown>
                                </div>
                            </div>
                            <div class="cashier-header-bar-responsive cursor-pointer mr-5" (click)="myfunction()">
                                <app-baricon></app-baricon>
                            </div>
                            <div
                                class="cashier-header-notify-wrapper px-5 flex items-center border-l border-solid border-grayBorder custom-height-70 pr-0">
                                <div class="cashier-header-notification pr-5 relative">
                                <a href="javascript:void(0)" class="noti" (click)="notifydropdown()"><app-notifyicon></app-notifyicon></a>
                                <div class="cashier-notify-dropdown" [class.notifydropdown-enable]="notifyShortcutActive">
                                    <app-notifydropdown></app-notifydropdown>
                                </div>
                                </div>
                                <div class="cashier-header-email pr-5 relative">
                                <a href="javascript:void(0)" class="emai" (click)="emaildropdown()"><app-emailicon></app-emailicon></a>
                                <div class="cashier-notify-dropdown cashier-email-dropdown" [class.emaildropdown-enable]="emailShortcutActive">
                                    <app-emaildropdown></app-emaildropdown>
                                </div>
                                </div>
                                <div class="cashier-header-language flex items-center relative" (click)="langdropdown()">
                                <div class="cashier-header-language-content">
                                    <ul>
                                    <li class="flex "><a href="javascript:void(0)" class="text-[14px] text-bodyText translate-y-[2px] font-bold"><app-settingicon></app-settingicon></a></li>
                                    </ul>
                                </div>
                                <div class="cashier-quick-dropdown cashier-quick-lang-dropdown" [class.langmenu-enable]="langShortcutActive">
                                    <app-languagedropdown></app-languagedropdown>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="cashier-header-overlay" (click)="shortmenu()" [class.shortmenu-enable]="menuShortcutActive"></div>
                        <div class="cashier-header-overlay" (click)="notifydropdown()" [class.notifydropdown-enable]="notifyShortcutActive"></div>
                        <div class="cashier-header-overlay" (click)="emaildropdown()" [class.emaildropdown-enable]="emailShortcutActive"></div>
                        <div class="cashier-header-overlay" (click)="langdropdown()" [class.langmenu-enable]="langShortcutActive"></div>
                        <div class="cashier-header-overlay" (click)="prodropdown()" [class.promenu-enable]="proShortcutActive"></div>
                        <!-- header area end here -->
                    </div>
                </div>
            </div>
        </div>
        <div class="cashier-breadcrumb-area px-7 py-9 bg-white mb-5">
            <div class="cashier-breadcrumb-area-inner px-0.5">
                <h5 class="text-[20px] text-heading font-bold mb-3">Create Payment </h5>
                <div class="cashier-breadcrumb-area-inner-wrap">
                    <span class="text-[14px] text-bodyText font-normal inline-block mr-2">Payment</span>
                    <span class="text-[12px] text-bodyText font-normal inline-block mr-2 translate-y-0"><i class="far fa-chevron-right"></i></span>
                    <span class="text-[14px] text-bodyText font-normal inline-block mr-2">Invoice</span>
                </div>
            </div>
        </div>
        <div class="container mt-4">
  <div class="card">
   
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #paiementForm="ngForm">
        
        <!-- Customer Selection -->
        <div class="form-group">
          <label for="client">Client</label>
          <select id="client" class="form-control" [(ngModel)]="paiement.client" name="customer" required>
            <option *ngFor="let client of clients" [ngValue]="client._id">{{ client.firstName }}</option>
          </select>
        </div>

        <!-- Bill Selection -->
        <div class="form-group mt-3">
          <label for="facture">Facture</label>
          <select id="facture" class="form-control" [(ngModel)]="paiement.facture" name="bill" required>
            <option *ngFor="let bill of bills" [ngValue]="bill._id">
              {{ bill._id}}
            </option>
          </select>
        </div>

        <!-- Amount -->
        <div class="form-group mt-3">
          <label for="amount">Montant</label>
          <input type="number" id="amount" class="form-control" [(ngModel)]="paiement.montant" name="amount" required>
        </div>

        <!-- Payment Date -->
        <div class="form-group mt-3">
          <label for="paymentDate">Date de paiement</label>
          <input type="date" id="paymentDate" class="form-control" [(ngModel)]="paiement.datePaiement" name="paymentDate" required>
        </div>

        <!-- Payment Method -->
        <div class="form-group mt-3">
          <label for="paymentMethod">Méthode de paiement</label>
          <select id="paymentMethod" class="form-control" [(ngModel)]="paiement.moyen" name="paymentMethod" required>
            <option value="carte bancaire">Carte</option>
            <option value="espèce">espèces</option>
            <option value="virement">Virement</option>
            <option value="chèque">Chèque</option>
          </select>
        </div>
        <!-- Statut -->
        <div class="form-group mt-3">
          <label for="statut">Statut</label>
          <select id="statut" class="form-control" [(ngModel)]="paiement.statut" name="statut" required>
            <option value="réussi">Réussi</option>
            <option value="échoué">Échoué</option>
            <option value="en attente">En attente</option>
          </select>
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary mt-4" [disabled]="!paiementForm.form.valid">Ajouter</button>
      </form>
    </div>
  </div>
</div>

        <div class="cashier-copyright-area pt-4">
            <app-copyright></app-copyright>
        </div>
    </div>
</div>