<div class="cashier-role-list border-b border-solid border-grayBorder flex items-center">
    <div class="cashier-role-left">
        <div class="cashier-role-topic">
            <h5 class="text-[18px] font-semibold text-heading mb-4">Settings</h5>
            <div class="cashier-role-checkbox default-light-theme">
                <mat-checkbox class="example-margin" [checked]="allComplete"
                  [color]="task.color" [indeterminate]="someComplete()"
                  (change)="setAllABC($event.checked)">
                  {{task.name}}
                </mat-checkbox>
            </div>
        </div>
    </div>
    <div class="cashier-role-right w-full border-l border-solid border-grayBorder">
        <div class="cashier-role-category-list h-[50px] flex items-center">
            <div class="cashier-role-checkbox-wrapper cashier-role-checkbox-wrapper2">
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckA3($event.checked)">
                        <label for="mat-checkbox-84-input">Create SMS</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckB3($event.checked)">
                        <label for="mat-checkbox-85-input">System Setting</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckC3($event.checked)">
                        <label for="mat-checkbox-86-input">Mail Settings</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckD3($event.checked)">
                        <label for="mat-checkbox-87-input">Currency Setting</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckE3($event.checked)">
                        <label for="mat-checkbox-88-input">Language</label>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="cashier-role-category-list h-[50px] flex items-center">
            <div class="cashier-role-checkbox-wrapper cashier-role-checkbox-wrapper2">
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckF3($event.checked)">
                        <label for="mat-checkbox-89-input">Send Notification</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckG3($event.checked)">
                        <label for="mat-checkbox-90-input">Backup Database</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckH3($event.checked)">
                        <label for="mat-checkbox-91-input">Send Mail</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckI3($event.checked)">
                        <label for="mat-checkbox-92-input">POS Setting</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckJ3($event.checked)">
                        <label for="mat-checkbox-93-input">Time & Date</label>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="cashier-role-category-list h-[50px] flex items-center">
            <div class="cashier-role-checkbox-wrapper cashier-role-checkbox-wrapper2">
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckK3($event.checked)">
                        <label for="mat-checkbox-94-input">Send SMS</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckL3($event.checked)">
                        <label for="mat-checkbox-95-input">Mail Create</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckM3($event.checked)">
                        <label for="mat-checkbox-96-input">SMS Setting</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckN3($event.checked)">
                        <label for="mat-checkbox-97-input">Newsletter Setting</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckO3($event.checked)">
                        <label for="mat-checkbox-98-input">Create Role</label>
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </div>
</div>