<div class="cashier-dashboard-transaction-wrapper p-7 pt-5 bg-white rounded-lg mb-5">
    <div class="cashier-dashboard-supplier-header flex flex-wrap items-center justify-between mb-6 m-0.5">
        <h5 class="text-[18px] text-bold font-bold maxSm:mb-2 text-heading">Recent Voucher</h5>
        <span class="common-blue-badge maxSm:mb-2">List 5</span>
    </div>
    <div class="cashier-dashboard-transaction">
        <div class="cashier-dashboard-transaction-row-heading">
            <div class="cashier-dashboard-transaction-dateR">
                <h5>Date</h5>
            </div>
            <div class="cashier-dashboard-transaction-referenceR">
                <h5>Customer</h5>
            </div>
            <div class="cashier-dashboard-transaction-customerR">
                <h5>Voucher No</h5>
            </div>
            <div class="cashier-dashboard-transaction-duedateR">
                <h5>Due Date</h5>
            </div>
            <div class="cashier-dashboard-transaction-modeR">
                <h5>Mode</h5>
            </div>
            <div class="cashier-dashboard-transaction-statusR">
                <h5>Status</h5>
            </div>
            <div class="cashier-dashboard-transaction-priceR">
                <h5>Amount</h5>
            </div>
        </div>
        <div class="cashier-dashboard-transaction-row">
            <div class="cashier-dashboard-transaction-dateR">
                <span>30/12/2021</span>
            </div>
            <div class="cashier-dashboard-transaction-referenceR">
                <span>Peter</span>
            </div>
            <div class="cashier-dashboard-transaction-customerR">
                <span>58755</span>
            </div>
            <div class="cashier-dashboard-transaction-duedateR">
                <span>30/12/2021</span>
            </div>
            <div class="cashier-dashboard-transaction-modeR">
                <span>Cheque</span>
            </div>
            <div class="cashier-dashboard-transaction-statusR">
                <span>
                    <figure
                        class="text-[12px] font-semibold leading-[20px] text-white px-2.5 h-5 rounded-[3px] inline-block bg-themeGreen">
                        Completed</figure>
                </span>
            </div>
            <div class="cashier-dashboard-transaction-priceR">
                <span>$4,582</span>
            </div>
        </div>
        <div class="cashier-dashboard-transaction-row">
            <div class="cashier-dashboard-transaction-dateR">
                <span>28/12/2021</span>
            </div>
            <div class="cashier-dashboard-transaction-referenceR">
                <span>Wileen Mylchreest</span>
            </div>
            <div class="cashier-dashboard-transaction-customerR">
                <span>53755</span>
            </div>
            <div class="cashier-dashboard-transaction-duedateR">
                <span>28/07/2021</span>
            </div>
            <div class="cashier-dashboard-transaction-modeR">
                <span>-------</span>
            </div>
            <div class="cashier-dashboard-transaction-statusR">
                <span>
                    <figure
                        class="text-[12px] font-semibold leading-[20px] text-white px-2.5 h-5 rounded-[3px] inline-block bg-themeWarn">
                        Unpaid</figure>
                </span>
            </div>
            <div class="cashier-dashboard-transaction-priceR">
                <span>$5,582</span>
            </div>
        </div>
        <div class="cashier-dashboard-transaction-row">
            <div class="cashier-dashboard-transaction-dateR">
                <span>25/12/2021</span>
            </div>
            <div class="cashier-dashboard-transaction-referenceR">
                <span>Steve Walken</span>
            </div>
            <div class="cashier-dashboard-transaction-customerR">
                <span>58725</span>
            </div>
            <div class="cashier-dashboard-transaction-duedateR">
                <span>25/04/2021</span>
            </div>
            <div class="cashier-dashboard-transaction-modeR">
                <span>Transfer</span>
            </div>
            <div class="cashier-dashboard-transaction-statusR">
                <span>
                    <figure
                        class="text-[12px] font-semibold leading-[20px] text-white px-2.5 h-5 rounded-[3px] inline-block bg-themeGreen">
                        Completed</figure>
                </span>
            </div>
            <div class="cashier-dashboard-transaction-priceR">
                <span>$6,882</span>
            </div>
        </div>
        <div class="cashier-dashboard-transaction-row">
            <div class="cashier-dashboard-transaction-dateR">
                <span>30/12/2021</span>
            </div>
            <div class="cashier-dashboard-transaction-referenceR">
                <span>Peter</span>
            </div>
            <div class="cashier-dashboard-transaction-customerR">
                <span>58755</span>
            </div>
            <div class="cashier-dashboard-transaction-duedateR">
                <span>20/03/2021</span>
            </div>
            <div class="cashier-dashboard-transaction-modeR">
                <span>Cheque</span>
            </div>
            <div class="cashier-dashboard-transaction-statusR">
                <span>
                    <figure
                        class="text-[12px] font-semibold leading-[20px] text-white px-2.5 h-5 rounded-[3px] inline-block bg-themeGreen">
                        Completed</figure>
                </span>
            </div>
            <div class="cashier-dashboard-transaction-priceR">
                <span>$4,582</span>
            </div>
        </div>
        <div class="cashier-dashboard-transaction-row">
            <div class="cashier-dashboard-transaction-dateR">
                <span>18/01/2021</span>
            </div>
            <div class="cashier-dashboard-transaction-referenceR">
                <span>Maria Elizabeth</span>
            </div>
            <div class="cashier-dashboard-transaction-customerR">
                <span>65755</span>
            </div>
            <div class="cashier-dashboard-transaction-duedateR">
                <span>06/02/2021</span>
            </div>
            <div class="cashier-dashboard-transaction-modeR">
                <span>Cash</span>
            </div>
            <div class="cashier-dashboard-transaction-statusR">
                <span>
                    <figure
                        class="text-[12px] font-semibold leading-[20px] text-white px-2.5 h-5 rounded-[3px] inline-block bg-themePerple">
                        Partial</figure>
                </span>
            </div>
            <div class="cashier-dashboard-transaction-priceR">
                <span>$5,540</span>
            </div>
        </div>
    </div>
</div>