<mat-dialog-content>
    <div class="popup-body">
        <div class="cashier-popup-inner">
            <div class="cashier-popup-header relative mb-11">
                <div class="cashier-popup-header-title">
                    <h4 class="text-[20px] text-heading font-bold">Edit Supplier</h4>
                </div>
                <div class="cashier-popup-header-close absolute -top-4 right-0">
                    <mat-dialog-actions>
                        <div class="default-light-theme">
                            <a href="javascript:void(0)" mat-dialog-close>
                                <mat-icon>clear</mat-icon>
                            </a>
                        </div>
                    </mat-dialog-actions>
                </div>
            </div>
        <form [formGroup]="editSupplierForm" (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-12 gap-x-7 maxSm:gap-x-0">
                <div class="md:col-span-6 sm:col-span-12">
                    <div class="cashier-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Name</h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input required formControlName="nom" matInput [placeholder]="'Ahsan Enterprise'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="md:col-span-6 sm:col-span-12">
                    <div class="cashier-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Phone</h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input required formControlName="téléphone" matInput [placeholder]="'+02 587 698 771'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="md:col-span-6 sm:col-span-12">
                    <div class="cashier-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Email</h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input formControlName="email" type="email" matInput [placeholder]="'info@example.com'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="md:col-span-6 sm:col-span-12">
                    <div class="cashier-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Contact</h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input formControlName="contact" matInput [placeholder]="'Amazon'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="md:col-span-6 sm:col-span-12">
                    <div class="cashier-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Historique</h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input formControlName="historique" matInput [placeholder]="'New York'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                
                <div class="md:col-span-6 sm:col-span-12">
                    <div class="cashier-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Address</h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input formControlName="adresse" matInput [placeholder]="'2751 Polk Street, Tucson'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
               
                <div class="col-span-12">
                    <div class="cashier-popup-btn default-light-theme pt-1.5">
                        <button type="submit" mat-raised-button color="primary" [disabled]="!editSupplierForm.valid">Create Supplier</button>
                        
                    </div>
                </div>
            </div>
        </form>
        </div>

    </div>
</mat-dialog-content>