@import '../../../../custom-palettes.scss';

@include cashierSidebarMuneStyle;
@include cashierInputFieldStyle;

.cashier-notification-text {
    width: calc(100% - 90px);
}
.cashier-notification {
    @include transition;
    &:hover {
        @apply bg-white;
    }
}
.cashier-notification-feedback {
    .mat-raised-button {
		font-size: 15px !important;
		font-weight: 600 !important;
		color: #616161 !important;
		border-radius: 5px !important;
		height: 40px !important;
		line-height: 38px !important;
		padding: 0px 20px !important;
		margin-right: 10px !important;
        border: 1px solid #EFF0F2;
        background: none !important;
		@apply maxSm:mb-1 shadow-none;
		&:last-child {
			margin-right: 0px !important;
		}
	}
    svg {
        @apply mr-[5px] translate-y-[-2px];
    }
}
.cashier-notification-wrapper {
    @apply p-0;
    .mat-tab-header {
        @apply mr-[50px] border-0 maxMd:mr-[25px] maxSm:mr-0 maxSm:mb-8;
    }
    .mat-tab-group {
        @apply font-primary flex-row maxSm:flex-col;
    }
    .mat-tab-labels {
        @apply flex flex-col min-w-[340px] h-[670px] bg-[#F5F7FB] p-[15px] rounded-[5px] text-left maxSm:h-[300px] overflow-y-scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .mat-ink-bar {
        @apply hidden;
    }
    .mat-tab-label {
        white-space: inherit;
        @apply overflow-hidden min-h-[100px] p-0 opacity-100 text-left justify-start min-w-full;
        &.mat-tab-label-active {
            .cashier-notification {
                @apply bg-white;
            }
        }
    }
    .cashier-notification {
        @apply py-5 px-3.5 w-full;
    }
    .mat-tab-label .mat-tab-label-content {
        white-space: inherit;
        @apply w-full justify-start;
    }
    .mat-tab-label-container {
        @apply w-[400px] minMaxTab:w-[440px] minMaxTabSmall:w-[640px];
    }
    @media (max-width: 500px) {
        .mat-tab-label {
            @apply min-h-[150px];
        }
        .mat-tab-labels {
            @apply min-w-[100%];
        }
        .cashier-notification {
            @apply block;
        }
        .cashier-notification-text {
            width: calc(100% - 15px);
        }
        .cashier-notification-img {
            @apply mb-[15px] mr-0;
        }
    }
}
.cashier-notification-body {
    @apply overflow-hidden;
}
.cashier-notification-action {
    button {
        @apply inline-block text-[16px] mr-3 text-bodyText last:mr-0;
    }
}
.cashier-notification-search {
    .mat-icon {
        @apply absolute top-[13px] pl-2.5 text-[#B8BBBF] left-0;
    }
    input.mat-input-element {
        @apply pl-10;
    }
}
.cashier-notification-wrapper {
    @apply maxLg:overflow-x-auto;
}
.cashier-notification-wrapper-inner {
    @apply maxLg:min-w-full maxLg:w-[830px] maxSm:w-full;
}
button.mat-raised-button.mat-primary {
    @apply bg-themeBlue;
}