<div class="cashier-login-area flex justify-center items-center w-full h-full">
    <div class="cashier-login-wrapper">
        <div class="cashier-login-logo text-center mb-12">
            <img src="../../../../assets/img/logo/logo.png" alt="logo not found">
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="cashier-select-field mb-5">
            <div class="cashier-input-field-style">
              <mat-form-field class="w-full" [floatLabel]="'always'">
       
                <input matInput formControlName="email" [placeholder]="'Email'">
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
              Please enter a valid email
            </mat-error>
              </mat-form-field>
              <caption><mat-icon>person_outline</mat-icon></caption>
            </div>
        </div>
        <div class="cashier-select-field mb-5">
            <div class="cashier-input-field-style cashier-input-field-style-eye">
              <mat-form-field appearance="fill">
                  <mat-label class="hidden">Enter your password</mat-label>
                  <input matInput formControlName="password" [placeholder]="'Password'" [type]="hide ? 'password' : 'text'" value="123456">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                   <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
              Password must be at least 6 characters
            </mat-error>
                </mat-form-field>
            </div>
        </div>
 
        <div class="cashier-login-btn mb-7">
            <div class="cashier-login-btn-full cashier-managesale-top-btn">
                <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Log in</button>
            </div>
        </div>
        </form>
        <div *ngIf="errorMessage" class="text-red-500 text-center mb-5">
  {{ errorMessage }}
</div>
        <div class="cashier-login-footer">
            <div class="cashier-login-footer-account text-center">
                <span class="text-[16px] inline-block text-bodyText">Have not an account? <a [routerLink]="['/register']" class="text-[16px] text-themeBlue">Register</a></span>
            </div>
        </div>
    </div>
</div>