<mat-dialog-content>
    <div class="popup-body">
        <div class="cashier-popup-inners">
            <div class="cashier-popup-inners-box">
                <div class="cashier-popup-header relative mb-11">
                    <div class="cashier-popup-header-title">
                        <h4 class="text-[20px] text-heading font-bold">View Details</h4>
                    </div>
                    <div class="cashier-popup-header-close absolute -top-4 right-0">
                        <mat-dialog-actions>
                            <div class="default-light-theme">
                                <a href="javascript:void(0)" mat-dialog-close>
                                    <mat-icon>clear</mat-icon>
                                </a>
                            </div>
                        </mat-dialog-actions>
                    </div>
                </div>
                <div class="cashier-bill-address mb-5">
                    <div class="grid grid-cols-12">
                        <div class="col-span-4">
                            <div class="cashier-bill-address-info">
                                <h5 class="pb-1">Billed to</h5>
                                <ul>
                                    <li>Name<span class="inline-block px-0.5">:</span> <span>{{bill.client?.firstName}} {{bill.client?.lastName}}</span></li>
                                    <li>Email<span class="inline-block px-0.5">:</span> <span>{{bill.client?.emailAddress}}</span></li>
                                    <li>Phone<span class="inline-block px-0.5">:</span> <span>{{bill.client?.phoneNumber}}</span></li>
                                    <li>Address<span class="inline-block px-0.5">:</span> <span>{{bill.client?.postalAddress}}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-span-4">
                            <div class="cashier-bill-address-info">
                                <h5 class="">Bill Number</h5>
                                <span>{{bill.numero}}</span>
                                <h5 class="">Bill Type</h5>
                                <span>{{bill.type}}</span>
                                <h5 class="">Bill Status</h5>
                                <span>{{bill.status}}</span>
                            </div>
                        </div>
                        <div class="col-span-4">
                            <div class="cashier-bill-address-info">
                                <div class="pb-2">
                                    <h5>Issue Date :</h5>
                                    <span>{{bill.dateFacturation}}</span>
                                </div>
                                <div>
                                    <h5>Due Date :</h5>
                                    <span> {{bill.dateFacturation}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cashier-bill-view-details border border-solid border-grayBorder">
                    <div class="cashier-bill-view-list flex h-[50px] border-b border-solid border-grayBorder">
                        <div class="cashier-bill-view-list-sl border-r">
                            <h5>SL</h5>
                        </div>
                        <div class="cashier-bill-view-list-product border-r">
                            <h5>Products</h5>
                        </div>
                        <div class="cashier-bill-view-list-batch border-r">
                            <h5>Code</h5>
                        </div>
                        <div class="cashier-bill-view-list-unit border-r">
                            <h5>Category</h5>
                        </div>
                        <div class="cashier-bill-view-list-price border-r">
                            <h5>Price</h5>
                        </div>
                        <div class="cashier-bill-view-list-qty border-r">
                            <h5>Qty</h5>
                        </div>
                       <!--  <div class="cashier-bill-view-list-tax border-r">
                            <h5>Tax</h5>
                        </div>
                        <div class="cashier-bill-view-list-discount border-r">
                            <h5>Discount</h5>
                        </div>
                        <div class="cashier-bill-view-list-total">
                            <h5>Total</h5>
                        </div> -->
                    </div>
                    <div class="cashier-bill-view-list flex h-[70px] border-b border-solid border-grayBorder"
                    *ngFor="let item of bill.lignes; let i = index">
                        <div class="cashier-bill-view-list-sl border-r">
                            <span> {{ i }} </span>
                        </div>
                        <div class="cashier-bill-view-list-product border-r">
                            <span> {{ item.article.name }}</span>
                        </div>
                        <div class="cashier-bill-view-list-batch border-r">
                            <span>  {{ item.article.code }}  </span>
                        </div>
                        <div class="cashier-bill-view-list-unit border-r">
                            <span>  {{ item.article.famille }}   </span>
                        </div>
                        <div class="cashier-bill-view-list-price border-r">
                            <span>{{ item.prixUnitaire }}</span>
                        </div>
                        <div class="cashier-bill-view-list-qty border-r">
                            <span>{{ item.quantite }}</span>
                        </div>
                        
                    </div>
                    <div class="cashier-bill-view-list flex h-[50px] border-b border-solid border-grayBorder">
                        <div class="cashier-bill-view-list-products">
                            <h5>Total =</h5>
                        </div>
                        <div class="cashier-bill-view-list-batch"></div>
                        <div class="cashier-bill-view-list-unit"></div>
                        <div class="cashier-bill-view-list-price"></div>
                        <div class="cashier-bill-view-list-qty "></div>
                        <div class="cashier-bill-view-list-tax "></div>
                        
                        <div class="cashier-bill-view-list-discount border-r">
                            <h5> </h5>
                        </div>
                        <div class="cashier-bill-view-list-total">
                            <h5> {{ bill.totalHT }}</h5>
                        </div>
                    </div>
                   
                    <div class="cashier-bill-view-list flex h-[50px] border-b border-solid border-grayBorder">
                        <div class="cashier-bill-view-list-products">
                            <span>Order Tax :</span>
                        </div>
                        <div class="cashier-bill-view-list-batch"></div>
                        <div class="cashier-bill-view-list-unit"></div>
                        <div class="cashier-bill-view-list-price"></div>
                        <div class="cashier-bill-view-list-qty"></div>
                        
                        <div class="cashier-bill-view-list-discount border-r">
                            <h5> </h5>
                        </div>
                        <div class="cashier-bill-view-list-total">
                            <span>{{ bill.tvaRate }} %</span>
                        </div>
                    </div>
                    <div class="cashier-bill-view-list flex h-[50px] border-b border-solid border-grayBorder bg-grayBgLight">
                        <div class="cashier-bill-view-list-products">
                            <h5>Grand Total :</h5>
                        </div>
                        <div class="cashier-bill-view-list-batch"></div>
                        <div class="cashier-bill-view-list-unit"></div>
                        <div class="cashier-bill-view-list-price"></div>
                        <div class="cashier-bill-view-list-qty"></div>
                        <div class="cashier-bill-view-list-tax"></div>
                        <div class="cashier-bill-view-list-discount border-r"></div>
                        <div class="cashier-bill-view-list-total">
                            <h5>{{ bill.totalTTC }}</h5>
                        </div>
                    </div>
                    <!-- <div class="cashier-bill-view-list flex h-[50px] border-b border-solid border-grayBorder">
                        <div class="cashier-bill-view-list-products">
                            <span>Paid Amount :</span>
                        </div>
                        <div class="cashier-bill-view-list-batch"></div>
                        <div class="cashier-bill-view-list-unit"></div>
                        <div class="cashier-bill-view-list-price"></div>
                        <div class="cashier-bill-view-list-qty"></div>
                        <div class="cashier-bill-view-list-tax"></div>
                        <div class="cashier-bill-view-list-discount border-r"></div>
                        <div class="cashier-bill-view-list-total">
                            <span>00.00</span>
                        </div>
                    </div>
                    <div class="cashier-bill-view-list flex h-[50px] border-b border-solid border-grayBorder bg-grayBgLight">
                        <div class="cashier-bill-view-list-products">
                            <h5>Due Amount :</h5>
                        </div>
                        <div class="cashier-bill-view-list-batch"></div>
                        <div class="cashier-bill-view-list-unit"></div>
                        <div class="cashier-bill-view-list-price"></div>
                        <div class="cashier-bill-view-list-qty"></div>
                        <div class="cashier-bill-view-list-tax"></div>
                        <div class="cashier-bill-view-list-discount border-r"></div>
                        <div class="cashier-bill-view-list-total">
                            <h5>96.00</h5>
                        </div>
                    </div> -->
                </div>
                <div class="cashier-bill-note pt-5 mb-10">
                    <!-- <div class="flex items-center maxXs:w-full">
                        <h5 class="text-[15px] font-semibold text-heading mr-2">Note:</h5>
                        <span class="text-[14px] font-normal text-bodyText">N/A</span>
                    </div>
                    <div class="flex items-center pb-1">
                        <h5 class="text-[15px] font-semibold text-heading mr-2">Order Number :</h5>
                        <span class="text-[14px] font-normal text-bodyText">5625</span>
                    </div>
                    <div class="flex items-center maxXs:w-full">
                        <h5 class="text-[15px] font-semibold text-heading mr-2">Status :</h5>
                        <span class="text-[10px] inline-block font-bold border border-solid border-themeWarn rounded-[3px] px-1.5 pt-0.5 text-themeWarn">Draft</span>
                    </div> -->
                </div>
                <div class="cashier-bill-note-btn">
                    <div class="cashier-managesale-top-btnC default-light-theme">
                        <button mat-raised-button mat-dialog-close color="primary" class="mb-1" (click)="sendPaymentPopup()">Send Bill</button>
                        <button mat-raised-button mat-dialog-close color="accent" class="mb-1" (click)="addPaymentPopup()">Add Payment</button>
                        <button mat-raised-button color="warn" mat-dialog-close class="mb-1" [routerLink]="['/addbill']">Update Bill</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
