@import '../../../../custom-palettes.scss';

.cashier-header-shortmenu {
    @apply relative;
    & .mat-icon {
        @apply text-[18px];
        width: 18px !important;
    }
    @media (max-width: 359px) {
        @apply hidden;
    }
}
.cashier-header-language-content {
    & ul {
        & li {
            @apply leading-none;
        }
    }
    & .mat-icon {
        width: 14px !important;
        @apply text-bodyText text-[18px] translate-y-1;
    }
}
.cashier-header-language-content {
    @apply translate-y-[-2px];
}
.cashier-header-bar {
	@apply leading-none;
}
.custom-height-70 {
    @apply h-[70px];
}
.cashier-header-notify-wrapper {
    & svg {
        @apply min-w-[18px];
    }
}
.cashier-header-profile-info {
    & i {
        @apply text-heading absolute top-0 right-0 text-[16px] translate-y-1;
    }
}
.cashier-header-bar span {
    @apply mb-[1px];
}

//shortcut dropdown
.cashier-quick-dropdown {
    @apply absolute top-full right-0 w-[220px] z-[9] border border-solid border-grayBorder py-3 px-5 bg-white opacity-0 scale-0 invisible;
    box-shadow: 0px 20px 40px rgba(18, 42, 91, 0.05);
    &.shortmenu-enable,
    &.langmenu-enable,
    &.promenu-enable {
        @apply opacity-100 visible scale-100;
    }
    ul {
        li {
            a {
                @apply text-[14px] py-3 px-5 rounded block font-normal text-bodyText hover:bg-grayBgLight;
                @include transition;
                svg {
                    @apply mr-2.5 translate-y-[-1px];
                }
            }
        }
    }
}
.cashier-quick-lang-dropdown {
    @apply w-[240px] p-2.5;
    &.langmenu-enable {
        @apply left-auto right-0 top-[45px];
    }
}
.cashier-quick-pro-dropdown {
    @apply w-[195px];
    &.promenu-enable {
        @apply left-auto right-0 top-[59px];
    }
}
.cashier-quick-pro-dropdown {
    & a {
        @apply inline-flex items-center leading-none;
        .mat-icon {
            width: 24px !important;
            @apply text-[16px] translate-y-[3px];
        }
    }
}

// notify dropdown
.cashier-notify-dropdown-list {
    .cashier-notify-img {
        @apply rounded-[5px] mr-4 w-[50px];
    }
    .cashier-notify-text {
        h6 {
            @apply text-[14px] font-semibold text-heading mb-2;
        }
        span {
            @apply text-[12px] font-normal text-bodyText block;
        }
    }
}
.cashier-notify-dropdown-list a {
    @apply inline-flex text-bodyText hover:text-themeBlue leading-none;
    & .mat-icon {
        @apply text-[16px] ml-1;
    }
}
.cashier-notify-dropdown {
    @apply absolute top-[45px] right-0 w-[250px] z-[9] bg-white opacity-0 scale-0 invisible;
    box-shadow: 0px 20px 40px rgba(18, 42, 91, 0.05);
    &.notifydropdown-enable,
    &.emaildropdown-enable {
        @apply opacity-100 visible scale-100;
        @media (max-width: 1400px) {
            @apply left-auto;
            @apply right-0;
        }
    }
    &.notifydropdown-enable {
        @media (max-width: 400px) {
            @apply left-auto -right-20;
        }
    }
    &.emaildropdown-enable {
        @media (max-width: 400px) {
            @apply left-auto -right-10;
        }
    }
}


.cashier-header-shortmenu {
    a.short {
        @apply relative z-[9];
    }
}
.cashier-header-profile {
    @apply relative z-[9];
}
.cashier-header-notification {
    a.noti {
        @apply relative z-[9];
    }
}
.cashier-header-email {
    .emai {
        @apply relative z-[9];
    }
}
.cashier-header-language {
    @apply relative z-[9] cursor-pointer;
}
.cashier-notify-dropdown {
    @apply z-[9];
}
.cashier-quick-dropdown {
    @apply z-[9];
}

.cashier-header-overlay.shortmenu-enable {
    @apply block;
}
.cashier-header-overlay.notifydropdown-enable {
    @apply block;
}
.cashier-header-overlay.emaildropdown-enable {
    @apply block;
}
.cashier-header-overlay.langmenu-enable {
    @apply block;
}
.cashier-header-overlay.promenu-enable {
    @apply block;
}
.cashier-header-overlay {
    @apply hidden fixed top-0 left-0 right-0 w-full h-full z-[8];
}