<div class="cashier-role-list border-b border-solid border-grayBorder flex items-center">
    <div class="cashier-role-left">
        <div class="cashier-role-topic">
            <h5 class="text-[18px] font-semibold text-heading mb-4">Report</h5>
            <div class="cashier-role-checkbox default-light-theme">
                <mat-checkbox class="example-margin" [checked]="allComplete"
                  [color]="task.color" [indeterminate]="someComplete()"
                  (change)="setAllABC($event.checked)">
                  {{task.name}}
                </mat-checkbox>
            </div>
        </div>
    </div>
    <div class="cashier-role-right w-full border-l border-solid border-grayBorder">
        <div class="cashier-role-category-list h-[50px] flex items-center">
            <div class="cashier-role-checkbox-wrapper cashier-role-checkbox-wrapper2">
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckA2($event.checked)">
                        <label for="mat-checkbox-68-input">Transaction</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckB2($event.checked)">
                        <label for="mat-checkbox-69-input">Customer Report</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckC2($event.checked)">
                        <label for="mat-checkbox-70-input">Account Balance</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckD2($event.checked)">
                        <label for="mat-checkbox-71-input">Payment Report</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckE2($event.checked)">
                        <label for="mat-checkbox-72-input">Vendor Report</label>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="cashier-role-category-list h-[50px] flex items-center">
            <div class="cashier-role-checkbox-wrapper cashier-role-checkbox-wrapper2">
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckF2($event.checked)">
                        <label for="mat-checkbox-73-input">Income Report</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckG2($event.checked)">
                        <label for="mat-checkbox-74-input">Supplier Report</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckH2($event.checked)">
                        <label for="mat-checkbox-75-input">Profit & Loss</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckI2($event.checked)">
                        <label for="mat-checkbox-76-input">Due Report</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckJ2($event.checked)">
                        <label for="mat-checkbox-77-input">Tax Report</label>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="cashier-role-category-list h-[50px] flex items-center">
            <div class="cashier-role-checkbox-wrapper cashier-role-checkbox-wrapper2">
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckK2($event.checked)">
                        <label for="mat-checkbox-78-input">Expense Report</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckL2($event.checked)">
                        <label for="mat-checkbox-79-input">Trial Balance</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckM2($event.checked)">
                        <label for="mat-checkbox-80-input">Income vs Expense</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckN2($event.checked)">
                        <label for="mat-checkbox-81-input">Warehouse Report</label>
                    </mat-checkbox>
                </div>
                <div class="cashier-role-checkbox default-light-theme">
                    <mat-checkbox [color]="'primary'" [checked]="allComplete" class="updateItem" (change)="setSingleCheckO2($event.checked)">
                        <label for="mat-checkbox-82-input">Balance Sheet</label>
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </div>
</div>