<mat-dialog-content>
    <div class="popup-body">
        <div class="cashier-popup-inner">
            <div class="cashier-popup-header relative mb-11">
                <div class="cashier-popup-header-title">
                    <h4 class="text-[20px] text-heading maxSm:text-[18px] font-bold">Company Overview</h4>
                </div>
                <div class="cashier-popup-header-close absolute -top-4 right-0">
                    <mat-dialog-actions>
                        <div class="default-light-theme">
                            <a href="javascript:void(0)" mat-dialog-close>
                                <mat-icon>clear</mat-icon>
                            </a>
                        </div>
                    </mat-dialog-actions>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-x-7 maxSm:gap-x-0">
                <div class="lg:col-span-7 col-span-12">
                    <div class="cashier-company-overview-popup">
                        <h4 class="text-[28px] maxSm:text-[26px] font-bold font-primary text-heading leading-none mb-6">Ahsan Enterprise</h4>
                        <ul>
                            <li class="flex">
                                <span class="text-[14px] font-bold text-heading min-w-[115px] maxSm:min-w-[75px] inline-block">Code</span>
                                <span class="text-heading min-w-[60px] inline-block maxSm:min-w-[25px]">:</span>
                                <span class="text-[14px] font-normal text-bodyText inline-block">0052</span>
                            </li>
                            <li class="flex">
                                <span class="text-[14px] font-bold text-heading min-w-[115px] maxSm:min-w-[75px] inline-block">Address</span>
                                <span class="text-heading min-w-[60px] inline-block maxSm:min-w-[25px]">:</span>
                                <span class="text-[14px] font-normal text-bodyText inline-block">Milton Street, New York, USA - 24585</span>
                            </li>
                            <li class="flex">
                                <span class="text-[14px] font-bold text-heading min-w-[115px] maxSm:min-w-[75px] inline-block">Email</span>
                                <span class="text-heading min-w-[60px] inline-block maxSm:min-w-[25px]">:</span>
                                <span class="text-[14px] font-normal text-bodyText inline-block">info&#64;example.com</span>
                            </li>
                            <li class="flex">
                                <span class="text-[14px] font-bold text-heading min-w-[115px] maxSm:min-w-[75px] inline-block">Phone</span>
                                <span class="text-heading min-w-[60px] inline-block maxSm:min-w-[25px]">:</span>
                                <span class="text-[14px] font-normal text-bodyText inline-block">+02 782 930 782</span>
                            </li>
                            <li class="flex">
                                <span class="text-[14px] font-bold text-heading min-w-[115px] maxSm:min-w-[75px] inline-block">Date</span>
                                <span class="text-heading min-w-[60px] inline-block maxSm:min-w-[25px]">:</span>
                                <span class="text-[14px] font-normal text-bodyText inline-block">02/09/2019</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lg:col-span-5 col-span-12">
                    <div class="cashier-company-overview-popup lg:text-right maxMd:my-[30px]">
                        <img src="../../../../assets/img/product/overview.png" alt="overview img not found">
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="cashier-invoice-popup-btn cashier-table-header-search-action-btn">
                        <button type="button" class="printer maxSm:mb-2.5"><svg id="printer" xmlns="http://www.w3.org/2000/svg"
                                width="19.26" height="19.26" viewBox="0 0 19.26 19.26">
                                <path id="Path_192" data-name="Path 192"
                                    d="M16.439,4.853h-.527V2.821A2.824,2.824,0,0,0,13.091,0H6.169A2.824,2.824,0,0,0,3.348,2.821V4.853H2.821A2.824,2.824,0,0,0,0,7.674v4.514a2.824,2.824,0,0,0,2.821,2.821h.527v2.558A1.7,1.7,0,0,0,5.041,19.26h9.178a1.7,1.7,0,0,0,1.693-1.693V15.009h.527a2.824,2.824,0,0,0,2.821-2.821V7.674A2.824,2.824,0,0,0,16.439,4.853ZM4.476,2.821A1.7,1.7,0,0,1,6.169,1.129h6.921a1.7,1.7,0,0,1,1.693,1.693V4.853H4.476ZM14.783,17.567a.565.565,0,0,1-.564.564H5.041a.565.565,0,0,1-.564-.564V12H14.783Zm3.348-5.379a1.7,1.7,0,0,1-1.693,1.693h-.527V12h.339a.564.564,0,1,0,0-1.129H3.009a.564.564,0,1,0,0,1.129h.339v1.881H2.821a1.7,1.7,0,0,1-1.693-1.693V7.674A1.7,1.7,0,0,1,2.821,5.981H16.439a1.7,1.7,0,0,1,1.693,1.693Z"
                                    fill="#2c6ae5" />
                                <path id="Path_193" data-name="Path 193"
                                    d="M204.574,353h-3.009a.564.564,0,1,0,0,1.128h3.009a.564.564,0,1,0,0-1.128Z"
                                    transform="translate(-193.439 -339.721)" fill="#2c6ae5" />
                                <path id="Path_194" data-name="Path 194"
                                    d="M204.574,417h-3.009a.564.564,0,1,0,0,1.129h3.009a.564.564,0,1,0,0-1.129Z"
                                    transform="translate(-193.439 -401.314)" fill="#2c6ae5" />
                                <path id="Path_195" data-name="Path 195"
                                    d="M67.37,193H65.564a.564.564,0,1,0,0,1.128H67.37a.564.564,0,1,0,0-1.128Z"
                                    transform="translate(-62.555 -185.74)" fill="#2c6ae5" />
                            </svg> Print
                        </button>
                        <button type="button" class="pdf maxSm:mb-2.5"><svg xmlns="http://www.w3.org/2000/svg" width="19.45"
                                height="15.56" viewBox="0 0 19.45 15.56">
                                <g id="Layer_3" data-name="Layer 3" transform="translate(-1 -4)">
                                    <path id="Path_217" data-name="Path 217"
                                        d="M18.058,4H3.392A2.394,2.394,0,0,0,1,6.392V17.168A2.394,2.394,0,0,0,3.392,19.56H18.058a2.394,2.394,0,0,0,2.392-2.392V6.392A2.394,2.394,0,0,0,18.058,4ZM3.392,5.3H18.058a1.1,1.1,0,0,1,1.1,1.1v.5l-8.428,5.418L2.3,6.888v-.5a1.1,1.1,0,0,1,1.1-1.1ZM18.058,18.263H3.392a1.1,1.1,0,0,1-1.1-1.1V8.429l8.078,5.193a.648.648,0,0,0,.7,0l8.078-5.193v8.739a1.1,1.1,0,0,1-1.1,1.1Z"
                                        fill="#ff9720" />
                                </g>
                            </svg> Email
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>