@import '../../../../custom-palettes.scss';

//sidebar menu style
@include cashierSidebarMuneStyle;
.cashier-managesale-top-btn {
	.mat-raised-button {
		font-size: 15px !important;
		font-weight: 600 !important;
		color: #fff !important;
		border-radius: 5px !important;
		height: 48px !important;
		line-height: 48px !important;
		padding: 0px 28px !important;
		margin-right: 16px !important;
        margin-bottom: 6px !important;
		&:last-child {
			margin-right: 0px !important;
		}
	}
	.mat-button-wrapper {
		display: flex !important;
		align-items: center !important;
	}
	.mat-icon {
		width: 20px !important;
		transform: translateX(-3px) !important;
		@apply mr-2.5;
	}
	.mat-raised-button.mat-primary {
		@apply bg-themeBlue;
	}
	.mat-raised-button.mat-accent {
		@apply bg-[#FFC403];
		color: #0D0F19 !important;
	}
}

//cashier header searchbar
@include cashierHeaderSearch;

//cashier header searchbar action
@include cashierHeaderSearchAction;
@include commonActionMenuStyle;

// Select field style
@include cashierSelectFieldStyle;
@include cashierHeaderStyle;


.cashier-salereturns-table-incomeO,
.cashier-salereturns-table-januaryO,
.cashier-salereturns-table-februaryO,
.cashier-salereturns-table-marchO,
.cashier-salereturns-table-aprilO,
.cashier-salereturns-table-mayO,
.cashier-salereturns-table-juneO,
.cashier-salereturns-table-julyO,
.cashier-salereturns-table-augustO,
.cashier-salereturns-table-septemberO,
.cashier-salereturns-table-octoberO,
.cashier-salereturns-table-novemberO,
.cashier-salereturns-table-decemberO {
	@apply flex;
	@apply flex-col;
	@apply justify-center;
	& h5 {
		@apply text-[15px] font-semibold text-heading;
	}
	& span {
		@apply text-[14px] font-normal text-bodyText;
	}
}
.cashier-salereturns-table-incomeO {
	@apply pl-5;
	min-width: 200px;
	width: 15%;
}
.cashier-salereturns-table-januaryO {
	min-width: 105px;
	width: 6%;
}
.cashier-salereturns-table-februaryO {
	min-width: 105px;
	width: 6%;
}
.cashier-salereturns-table-marchO {
	min-width: 105px;
	width: 6%;
}
.cashier-salereturns-table-aprilO {
	min-width: 105px;
	width: 6%;
}
.cashier-salereturns-table-mayO {
	min-width: 105px;
	width: 6%;
}
.cashier-salereturns-table-juneO {
	min-width: 105px;
	width: 6%;
}
.cashier-salereturns-table-julyO {
	min-width: 105px;
	width: 6%;
}
.cashier-salereturns-table-augustO {
	min-width: 105px;
	width: 6%;
}
.cashier-salereturns-table-septemberO {
	min-width: 105px;
	width: 6%;
}
.cashier-salereturns-table-octoberO {
	min-width: 105px;
	width: 6%;
}
.cashier-salereturns-table-novemberO {
	min-width: 105px;
	width: 6%;
}
.cashier-salereturns-table-decemberO {
	min-width: 105px;
	width: 6%;
}
.cashier-transection-chart-area {
	height: calc(100% - 20px);
	@apply px-[22px] py-4;
}

@include commonActionMenuStyle;

.cashier-salereturns-table-checkbox {
	.mat-checkbox-layout {
		@apply ml-4;
	}
	.mat-checkbox-frame {
		border-color: #CBCED4 !important;
	}
	.mat-checkbox {
		@apply flex;
	}
}

.cashier-salereturns-table-inner {
	@media (max-width: 1900px) {
		overflow-x: auto;
		scrollbar-height: thin;
	}
}
.cashier-salereturns-table-inner-wrapper {
	@media (max-width: 1900px) {
		width: 1475px;
		scrollbar-height: thin;
	}
}


.cashier-transection-info {
	@apply flex items-center justify-between py-[30px] px-[30px] rounded-lg minMaxDesktop:px-4 minMaxDesktop:py-6 minMaxLaptop:px-4 minMaxLaptop:py-6;
	&-text {
		h5 {
			@apply text-[15px] font-semibold text-bodyText minMaxLaptop:text-[12px];
		}
		h4 {
			@apply text-[22px] font-bold text-heading minMaxLaptop:text-[18px];
		}
	}
	&-percent {
		span {
			@apply text-[14px] font-semibold text-white h-[30px] leading-[31px] rounded-2xl px-3 minMaxLaptop:px-2 minMaxLaptop:text-[12px];
		}
	}
}
.cashier-transection-selector {
	&-single {
		.mat-form-field-flex {
			@apply h-10 leading-[38px] px-5; 
		}
	}
}

.cashier-transection-chart-area {
	@media (min-width: 320px) and (max-width: 1900px) {
		@apply block text-center overflow-hidden px-0;
	}
	@media (max-width: 575px) {
		@apply overflow-x-auto;
	}
}
.cashier-transection-info {
	@media (min-width: 320px) and (max-width: 1900px) {
		height: calc(100% - 20px);
	}
}
div.apexcharts-canvas {
	@apply inline-block;
}