<mat-dialog-content>
    <div class="popup-body">
        <div class="cashier-popup-inner">
            <div class="cashier-popup-header relative mb-11">
                <div class="cashier-popup-header-title">
                    <h4 class="text-[20px] text-heading font-bold">Add Company</h4>
                </div>
                <div class="cashier-popup-header-close absolute -top-4 right-0">
                    <mat-dialog-actions>
                        <div class="default-light-theme">
                            <a href="javascript:void(0)" mat-dialog-close>
                                <mat-icon>clear</mat-icon>
                            </a>
                        </div>
                    </mat-dialog-actions>
                </div>
            </div>
            <div class="grid grid-cols-12 gap-x-7 maxSm:gap-x-0">
                <div class="md:col-span-6 sm:col-span-12">
                    <div class="cashier-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Name</h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'Ahsan Enterprise'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="md:col-span-6 sm:col-span-12">
                    <div class="cashier-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Phone</h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'+02 587 698 771'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="cashier-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Email</h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input type="email" matInput [placeholder]="'info@example.com'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="md:col-span-6 sm:col-span-12">
                    <div class="cashier-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">City</h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'New York'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="md:col-span-6 sm:col-span-12">
                    <div class="cashier-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Country</h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'United States'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="md:col-span-6 sm:col-span-12">
                    <div class="cashier-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Address</h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'2751 Polk Street, Tucson'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="md:col-span-6 sm:col-span-12">
                    <div class="cashier-select-field mb-6">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Zip</h5>
                        <div class="cashier-input-field-style">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-label class="hidden">Customer name</mat-label>
                                <input matInput [placeholder]="'85701'">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="cashier-select-field mb-5">
                        <h5 class="text-[15px] text-heading font-semibold mb-3">Attached File (Optional)</h5>
                        <div class="cashier-input-field-file-label">
                            <label for="fileUpload" class="hidden"></label>
                            <input type="file" id="fileUpload">
                        </div>
                    </div>
                </div>
                <div class="col-span-12">
                    <div class="cashier-popup-btn cashier-managesale-top-btn pt-1.5">
                        <button type="submit" mat-raised-button color="primary">Pay Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>