<div class="cashier-notify-dropdown-wrapper px-4 border border-grayBorder border-solid">
    <div class="cashier-notify-dropdown-list py-4 flex items-center border-b border-grayBorder border-solid">
      <div class="cashier-notify-img">
        <a [routerLink]="['/sms/message']"><img src="../../../../../assets/img/user/user-1.png" alt="img not found"></a>
      </div>
      <div class="cashier-notify-text">
        <h6><a [routerLink]="['/sms/message']">Alex Send you Message</a></h6>
        <span>31 Dec 2021 - 02:26 PM</span>
      </div>
    </div>
    <div class="cashier-notify-dropdown-list py-4 flex items-center border-b border-grayBorder border-solid">
      <div class="cashier-notify-img">
        <a [routerLink]="['/sms/message']"><img src="../../../../../assets/img/user/user-2.png" alt="img not found"></a>
      </div>
      <div class="cashier-notify-text">
        <h6><a [routerLink]="['/sms/message']">Peter Send you Message</a></h6>
        <span>31 Dec 2021 - 08:36 PM</span>
      </div>
    </div>
    <div class="cashier-notify-dropdown-list py-4 flex items-center border-b border-grayBorder border-solid">
      <div class="cashier-notify-img">
        <a [routerLink]="['/sms/message']"><img src="../../../../../assets/img/user/user-3.png" alt="img not found"></a>
      </div>
      <div class="cashier-notify-text">
        <h6><a [routerLink]="['/sms/message']">Resport created successfully</a></h6>
        <span>31 Dec 2021 - 04:45 PM</span>
      </div>
    </div>
    <div class="cashier-notify-dropdown-list py-4 flex items-center border-b border-grayBorder border-solid">
      <div class="cashier-notify-img">
        <a [routerLink]="['/sms/message']"><img src="../../../../../assets/img/user/user-4.png" alt="img not found"></a>
      </div>
      <div class="cashier-notify-text">
        <h6><a [routerLink]="['/sms/message']">Jhon Send you Message</a></h6>
        <span>31 Dec 2021 - 07:30 AM</span>
      </div>
    </div>
    <div class="cashier-notify-dropdown-list py-4 flex items-center justify-center">
      <a [routerLink]="['/sms/message']" class="text-[14px] text-bodyText inline-block">See all <mat-icon>arrow_forward</mat-icon></a>
    </div>
</div>