
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@include mat.core();

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './custom-palettes.scss';
@import '../src/assets/css/font-awesome-pro.css';
@import '../src/assets/css/elegant-icon.css';
@import '../src/assets/scss/main.scss';


html, body { height: 100%; }
body { 
    @apply p-0 m-0 font-primary box-border;
 }
img, svg, video, canvas, audio, iframe, embed, object {
	@apply inline-block;
}
button.mat-raised-button,
button.mat-raised-button:not([class*="mat-elevation-z"]) {
    box-shadow: none !important;
}
.cashier-salereturns-table-checkbox {
    .mat-checkbox-checked.mat-primary .mat-checkbox-background {
        @apply bg-themeBlue;
    }
}
.mat-mdc-dialog-container .mdc-dialog__content {
    font-family: 'Nunito Sans', sans-serif !important;
}